In [25]:
import pandas as pd

df = pd.read_csv('https://data.wprdc.org/datastore/dump/4ab1e23f-3262-4bd3-adbf-f72f0119108b')
quality = pd.read_csv("https://data.wprdc.org/datastore/dump/4ab1e23f-3262-4bd3-adbf-f72f0119108b")
quality.head()

,_id,date,site,parameter,index_value,description,health_advisory,health_effects
0,1,2016-01-01,Lawrenceville,PM25B,25,Good,NaN,NaN
1,2,2016-01-01,Flag Plaza,CO,0,Good,NaN,NaN
2,3,2016-01-01,Harrison Township,OZONE,31,Good,NaN,NaN
3,4,2016-01-01,Avalon,SO2,10,Good,NaN,NaN
4,5,2016-01-01,Lincoln,PM25,35,Good,NaN,NaN

In [23]:
mean_airQuality = quality['index_value'].mean()

mean_airQuality

22.086296265164886

In [41]:
df = pd.read_csv('https://data.wprdc.org/datastore/dump/4ab1e23f-3262-4bd3-adbf-f72f0119108b')

print(df.columns)

ave_aqi = df.groupby('site')['index_value'].mean().reset_index()

ave_aqi.columns = ['site', 'index_value']

ave_aqi = average_aqi.sort_values(by='index_value', ascending = True)

print(ave_aqi)

Index(['_id', 'date', 'site', 'parameter', 'index_value', 'description',
       'health_advisory', 'health_effects'],
      dtype='object')
                     site  index_value
6         Lawrenceville 2     3.052910
14           West Mifflin     6.335548
2              Flag Plaza     9.949275
3   Glassport High Street    17.390411
7                 Liberty    17.954855
10         North Braddock    18.819053
11           Parkway East    21.647411
13          South Fayette    23.851167
0                  Avalon    24.246547
4       Harrison Township    24.297538
12             Pittsburgh    25.101287
1                Clairton    27.963281
8               Liberty 2    32.154963
9                 Lincoln    35.108002
5           Lawrenceville    37.644931